<div class="add-user-form">
  <div class="pad5">
     <span>Teacher Name: </span>
     <input type="text" id="teacher-name" class="input-box"/>
  </div>
  <div class="pad5">
     <span>Standard: </span>
  <select id='std'>
    <option value='i'>I</option>
		<option value='ii'>II</option>
		<option value='iii'>III</option>
		<option value='iv'>IV</option>
		<option value='v'>V</option>
		<option value='vi'>VI</option>
		<option value='vii'>VII</option>
		<option value='viii'>VIII</option>     	
  </select>
  </div>
  <div class="pad5">
     <span>Email Id: </span>
     <input type="text" id="user-name" class="input-box"/>
  </div>
  <div class="pad5">
     <span>Mobile No: </span>
     <input type="number" id="mobile-no" class="input-box"/>
  </div>
  <div class="pad5">
     <span>Date of Birth: </span>
     <input type="date" id="dob" class="input-box"/>
  </div>
  <div class="pad5">
     <span>Profile Image: </span>
     <input type="file" id="profile-image" class="input-box" onchange="uploadedFile(event)"/>
  </div>
  <div class="uploaded-filename hide">
  </div>
  <input type="button" value="save" class="sbutton gap10 right" onclick="addTeacher()">
</div>
<script type="text/javascript">
  
function addTeacher(){
    var teacherName = $('#teacher-name').val();
    if (teacherName.length<4){
      sendToast('Please add teacher name with atleast 4 characters');
      return;
    }

    var std = $('#std').val();
    
    var userName=$('#user-name').val();
    if (userName.length<4){
      sendToast('Please add user name with atleast 4 characters');
      return;
    }

    var mobileNo = $('#mobile-no').val();
    if(mobileNo.length<10){
      sendToast('Please add valid mobile no');
      return;  
    }

    var dob = $('#dob').val();

    if(file_list.length==0){
        sendToast('Please upload profile image');
        return;
    }

    var data = {'first_name':teacherName, 
                'standard': std, 
                'user_name': userName,
                'mobile_no': mobileNo, 
                'dob': dob,
                'password':'abc',
                'user_type':"teacher",
                'teacher_id':'',
                'profile_image': file_list}

    saveTeacher(data)

}
</script>